<div class="chat" id="chat">
  <!--<div class="chatTitle">
    <h1>Titlu INFO</h1>
  </div>-->
<div class="chatContent">
    <div id="nameDiv">
        <input id="chatName" autocomplete="off" placeholder="Cum te striga ?"/><button id="nameBtn" onclick="showChat();">Send</button>
    </div>
    <div class="chatArea" id="chatArea">
  <div class="chatbox">
    <ul id="messages"></ul>
  </div>
   <!--aici orig form-->
</div>
<div id="inputChatForm">
<form id="form" action="">
  <input id="input" autocomplete="off" placeholder="Scrie aici..."/><button>Send</button>
</form>
</div>
  </div>

</div>
