<div class="chat" id="chat" style="border: 1px solid black; height: 450px">
  <div class="chatTitle">
    <h1>Titlu INFO</h1>
  </div>
<div class="chatContent">
    <div id="nameDiv">
        <input id="chatName" autocomplete="off" placeholder="Cum te striga ?"/><button onclick="showChat();">Send</button>
    </div>
    <div class="chatArea" id="chatArea">
  <div class="chatbox">
    <ul id="messages"></ul>
  </div>
    <form id="form" action="">
      <input id="input" autocomplete="off" placeholder="Scrie aici..."/><button>Send</button>
    </form>
</div>
  </div>

</div>
