 <div class="radio-player">
    <h2 class="text-2xl font-semibold mb-4">Ti Pade Lančut Radio</h2>
    <div class="grid grid-cols-3 place-items-center gap-2 mb-4">
      <button class="play-button px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600" id="play">Play</button>
      <button class="pause-button px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 ml-2" id="pause">Pause</button>
      <button class="stop-button px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 ml-2" id="stop">Stop</button>
    </div>
    <div class="flex items-center">
      <span class="mr-2">Volume:</span>
      <input type="range" min="0" max="100" value="85" class="flex-1" id="volume-slider">
    </div>
    <audio id="player" hidden></audio>
    

    <!-- Modal for last songs -->
    <div id="lastSongsModal" class="htmx-modal grid grid-cols-1 place-items-center gap-2 ">
        <button class="last-songs-button mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" id="currentSong">Song name -  Artist</button>
      <div class="modal-content content-center">
        <h3 class="text-xl font-semibold mb-2">Last 5 Songs</h3>
        <ul id="lastSongsList">


        </ul>
      </div>
    </div>
  </div>

  <script>
    // JavaScript for htmx and additional functionality
    document.addEventListener('htmx:afterSwap', function(event) {
      if (event.detail.response.lastSongs) {
        const lastSongsList = document.getElementById('lastSongsList');
        lastSongsList.innerHTML = '';
        event.detail.response.lastSongs.forEach(song => {
          const listItem = document.createElement('li');
          listItem.textContent = `${song.title} - ${song.artist}`;
          lastSongsList.appendChild(listItem);
        });
      }
    });
  </script>
