<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/public/stylesheets/style.css" />
  <link rel="stylesheet" href="/public/stylesheets/chat.css" />
  <link rel="stylesheet" href="/public/stylesheets/navbar.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
  ></script>

  <!-- <script
  type="text/javascript"
  src="public/audio5.js"
></script>-->
  <script
    type="text/javascript"
    src="http://localhost:3000/socket.io/socket.io.js"
  ></script>
  <!--<script
    type="text/javascript"
    src="/javascripts/socket.io-stream.js"
  ></script>-->

  <script>
    var socket = io();
  </script>
</head>



<div class="topnav" id="myTopnav">
  
<img src="/public/images/logo.png" class="active LogoBar" />
  <button id="play-music-button"  class="buttonPLayStop"></button>
 <!-- <a href="#home" class="active">Home</a>-->
 <!-- <a href="#news">News</a>-->
 <div class="equalizer">
  <div class="equalizer-bar"></div>
  <div class="equalizer-bar"></div>
  <div class="equalizer-bar"></div>
  <div class="equalizer-bar"></div>
  <div class="equalizer-bar"></div>
  </div>
  <a href="#info">Info</a>
  <a href="#chat">Chat</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<br /><br /><br /><br /><br /><br /><br /><br />
{{> info}}
<br />
{{> songhistory}}
<br />
{{> chat}}
<br />
<!--{{> test}}-->

<br />
<div class="footer">
  <p>salut</p>
</div><!--
<audio id="music" autostart="0" autostart="false" preload="none">
  <source src="/stream" />-->

<script>
  var bars = [].slice.call(document.querySelectorAll(".equalizer-bar"));

  function move() {
    setTimeout(function () {
      requestAnimationFrame(move);

      bars.forEach(function (bar, index) {
        bar.style.transform = "scaleY(" + Math.random() + ")";
      });
    }, 150);
  }

  //test
  /*socket.on('chat message', function(msg) {
           // alert('chat'+msg);
            console.log(msg);
           });*/

  $(document).ready(function () {
    /*
ss(socket).emit('ready', 'Client ready, send me a stream...');
  ss(socket).on('sending', function (stream, d) {
    //  console.log(stream);

    var blob = new Blob([stream], { 'type': 'aac' });

    let sound = document.createElement('audio');
    sound.src = window.URL.createObjectURL(blob);
    document.body.appendChild(sound);


    var playPromise = sound.play();


    if (playPromise !== undefined) {
      playPromise.then(function () {

      }).catch(function (error) {

      });
    }

  });



*/
    var music = document.getElementById("music");
    var play_music_button = document.getElementById("play-music-button");

    function playAudio() {
      if (music.paused) {
        music.play();
        play_music_button.className = "pause";
      } else {
        music.pause();
        play_music_button.className = "play";
      }
      music.addEventListener("ended", function () {
        play_music_button.className = "play";
      });
    }
    play_music_button.addEventListener("click", playAudio);
    move();
  });

  $(document).ready(function () {
    /* function called when you click of the button */
    $("button").click(function () {
      /* this if else to change the text in the button */
      if ($("button").text() == "☰") {
        $("button").text("🞬");
      } else {
        $("button").text("☰");
      }

      /* this function toggle the visibility of our "li" elements */
      $("li").toggle("slow");
    });
  });


  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
} 
</script>
<script type="text/javascript" src="/public/javascript/chat.js"></script>
