<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script src="/javascripts/functions.js" defer></scipt>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gradient-to-r from-blue-500 to-green-500"></body>
    {{{body}}}
  </body>
</html>
